main{
    width: 100%;
}
main .goodNews{
    margin: 0 auto;

}

/*-----------------goodNewsmain-----------------*/
main .goodNewsMain .goodNewsMain-contain{
    max-width: 1920px;
    height: 1000px;
    background-image: url("../pic/goodnewThree.jpg");
    margin: 0 auto;

    text-align: center;
}

main .goodNewsMain-contain-text{
    margin-left: 400px;
    padding-top: 340px;
}

main .goodNewsMain-contain h1{
    font-size: 80px;
    color: white;
    padding-bottom: 20px;

}
main .goodNewsMain-contain h2{
    font-size: 40px;
    color: white;
    padding-bottom: 50px;
}



/*-----------------goodNewsMain-main-----------------*/
main .goodNewsMain-main{
    margin: 0 auto;
}


/*-----------------.goodNewsMain-main-topPic-----------------*/

main .goodNewsMain-main .goodNewsMain-main-topPic{
    background-image: url('../pic/goodnewmainTop.jpg');
    background-repeat: no-repeat;
    width: 1000px;
    height: 1000px;
    margin: 30px auto;

}

main .goodNewsMain-main .goodNewsMain-main-topPic h1{
    font-size: 60px;
    color: white;
    padding: 140px 102px ;
}



main .goodNewsMain-main .goodNewsMain-main-text{
    width: 1000px;
    text-align: center;
    margin: 70px auto ;
    border: 1px solid #9E472D;
    padding: 10px;
}

main .goodNewsMain-main .goodNewsMain-main-text h1{
    font-size: 32px;
    padding-bottom: 20px;

}

main .goodNewsMain-main .goodNewsMain-main-text p{
    font-size: 24px;
    line-height: 1.6;
    
}


/*-----------------goodNewsMain-main-underPic-----------------*/

main .goodNewsMain-main .goodNewsMain-main-underPic{
    background-image: url('../pic/goodnewmainUnder.jpg');
    background-repeat: no-repeat;
    width: 1000px;
    height: 1000px;
    margin: 30px auto 50px;

}



main .goodNewsMain-main .goodNewsMain-main-underPic .goodNewsMain-main-underPic-uptext h2{
    font-size: 70px;
    letter-spacing: 10px;
    color: white;
    transform: rotate(270deg);
    
}

main .goodNewsMain-main .goodNewsMain-main-underPic .goodNewsMain-main-underPic-uptext{
    padding-top: 112px;
    padding-left: 660px;

}


main .goodNewsMain-main .goodNewsMain-main-underPic .goodNewsMain-main-underPic-undertext{
    padding-top: 360px;
    padding-left: 400px;
    text-align: center;
    line-height: 1.6;
    color: white;
}


main .goodNewsMain-main .goodNewsMain-main-underPic h1{
    font-size: 60px;
}

main .goodNewsMain-main .goodNewsMain-main-underPic h3{
    font-size: 40px;
}


@media screen and (max-width: 1440px) {
    main .goodNewsMain .goodNewsMain-contain{
        width: 1440px;
        background-position: center;
    }
} 

@media screen and (max-width: 418px){
    
/*-----------------goodNewsmain-----------------*/
main .goodNewsMain .goodNewsMain-contain{
    margin: 55px 0 ;
    max-width: 414px;
    width: 100%;
    height: 500px;
    background-image: url("../pic/goodnewThree.jpg");
    margin: 0 auto;
    background-size: cover;
    background-position: 55% 0%;
    text-align: center;
}

main .goodNewsMain-contain-text{
    margin: 55px 0 0 0 ;
    margin-left: 0px;
    padding-top: 20px;
}

main .goodNewsMain-contain h1{
    margin-top: 50px;
    font-size: 40px;
    color: white;
    padding-bottom: 20px;

}
main .goodNewsMain-contain h2{
    font-size: 20px;
    color: white;
    padding-bottom: 0px;
}



/*-----------------goodNewsMain-main-----------------*/
main .goodNewsMain-main{
    margin: 0 auto;
}


/*-----------------.goodNewsMain-main-topPic-----------------*/

main .goodNewsMain-main .goodNewsMain-main-topPic{
    background-image: url('../pic/goodnewmainTop.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 414px;
    width: 95%;
    height: 400px;
    margin: 30px auto 0px;

}

main .goodNewsMain-main .goodNewsMain-main-topPic h1{
    font-size: 30px;
    color: white;
    padding: 50px 15px ;
}



main .goodNewsMain-main .goodNewsMain-main-text{
    max-width: 414px;
    width: 90%;
    text-align: center;
    margin: 20px auto ;
    border: 1px solid #9E472D;
    padding: 10px;
}

main .goodNewsMain-main .goodNewsMain-main-text h1{
    font-size: 18px;
    padding-bottom: 15px;

}

main .goodNewsMain-main .goodNewsMain-main-text p{
    font-size: 14px;
    line-height: 1.6;
    
}


/*-----------------goodNewsMain-main-underPic-----------------*/

main .goodNewsMain-main .goodNewsMain-main-underPic{
    background-image: url('../pic/goodnewmainUnder.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 414px;
    width: 95%;
    height: 500px;
    margin: 30px auto;

}



main .goodNewsMain-main .goodNewsMain-main-underPic .goodNewsMain-main-underPic-uptext h2{
    font-size: 26px;
    letter-spacing: 10px;
    color: white;
    transform: rotate(270deg);
    
}

main .goodNewsMain-main .goodNewsMain-main-underPic .goodNewsMain-main-underPic-uptext{
    padding-top: 50px;
    padding-left: 248px;

}


main .goodNewsMain-main .goodNewsMain-main-underPic .goodNewsMain-main-underPic-undertext{
    padding-top: 120px;
    padding-left: 100px;
    text-align: center;
    line-height: 1.6;
    color: white;
}


main .goodNewsMain-main .goodNewsMain-main-underPic h1{
    font-size: 26px;
}

main .goodNewsMain-main .goodNewsMain-main-underPic h3{
    font-size: 20px;
}
}












