@import url('./reset.css');
@import url("../Css/cart.css");
@import url("../Css/search.css");
@import url("../Css/contactus.css");

body{
    width: 100%;
    font-family: "微軟正黑體",Verdana, Tahoma, sans-serif;
    background-color: white;
    overflow-x: hidden;
}

h1{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
h2{
    letter-spacing: 1px;
}
p{
    font-size: 12px;
}
a{
    cursor: pointer;
}
/*-----------------header-----------------*/
.nav{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
}

.nav .nav-wrapper{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    height: 100px;
}

/*-----------------LOGO-----------------*/
.nav-header-logo img{
    height: 67px;
    padding: 18px 64px 10px 25px ;
}

/*-----------------主選單-----------------*/
.nav-header-menu{
    display: flex;
}

.nav-header-menu .nav-header-mainMenu-container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.nav-header-menu .nav-header-mainMenu-container li{
    margin-right: 25px;

}

.nav-header-menu .nav-header-mainMenu-container a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    opacity: 1;
    letter-spacing: 1px;
}

.nav-header-menu .nav-header-mainMenu-container a:hover{
    font-weight: bold;
}

/*-----------------ICON選單-----------------*/

.nav-header-menu .nav-header-actionMenu-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 470px;
}
.nav-header-menu .nav-header-actionMenu-container li{
    margin-right: 15px;

}

.nav-header-menu .nav-header-actionMenu-container a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    opacity: 0.4;
}

.nav-header-menu .nav-header-actionMenu-container a:hover{
    opacity: 1;
}



/*-----------------footer-----------------*/
footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 700px;
    color: white;
}

footer .footer-grid{
    max-width: 1440px;
    margin: 0 auto;
}

footer .footer-grid .footer-grid-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding: 60px 0 80px 0;
    justify-content: center;
}

/*-----------------footer故事-----------------*/


footer .footer-grid-menu .footer-grid-menu-information{
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
footer .footer-grid-menu .footer-grid-menu-information img{
    height: 18px;
    /* padding: 20px 10px 0; */
    vertical-align: middle;
}

footer .footer-grid-menu .footer-grid-menu-information h1{
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
}

footer .footer-grid-menu .footer-grid-menu-information p{
    line-height: 20px;
    letter-spacing: 1px;
}

/*-----------------footer關於我們-----------------*/

.footer-grid-menu-container{
    padding-left: 130px;
}

.footer-grid-menu-container li{
    line-height: 30px;
}

.footer-grid-menu-container  li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-grid-menu-container  li a:hover{
    font-weight: bold;
}


/*-----------------footer聯絡方式-----------------*/

.footer-grid-menu-contact{
    padding-left: 80px;
}

.footer-grid-menu-contact h1:first-child{
    line-height: 30px;
    font-weight: bold;
    font-size: 16px;
}

.footer-grid-menu-contact h1{
    line-height: 30px;
    font-weight: 300;
    font-size: 14px;
}

.footer-grid-menu-contact h2{
    line-height: 26px;
    font-size: 14px;
    
}

/*-----------------footerICON-----------------*/
footer .footer-grid-menu .footer-grid-menu-icon{
    padding-left: 80px;
}
footer .footer-grid-menu .footer-grid-menu-icon .footer-grid-menu-icon-container{
    display: flex;
}
footer .footer-grid-menu .footer-grid-menu-icon li{
    padding: 0 10px;
}
footer .footer-grid-menu .footer-grid-menu-icon a{
    color: white;
    font-size: 20px;
}

footer .footer-grid-menu .footer-grid-menu-icon a:hover{
    color: white;
    font-size: 22px;
}

/*-----------------footerunderLine-----------------*/
footer .footer-grid-underLine{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

}



