@import url('./reset.css');
@import url("../Css/cart.css");
@import url("../Css/search.css");
@import url("../Css/contactus.css");

body{
    font-family: "微軟正黑體",Verdana, Tahoma, sans-serif;
    background-color: white;
    overflow-x: hidden;
}

h1{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
h2{
    letter-spacing: 1px;
}
p{
    font-size: 12px;
}
a{
    cursor: pointer;
}
/*-----------------header-----------------*/
.nav{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
}

.nav .nav-wrapper{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    height: 100px;
}

/*-----------------LOGO-----------------*/
.nav-header-logo img{
    height: 67px;
    padding: 18px 64px 10px 25px ;
}

/*-----------------主選單-----------------*/
.nav-header-menu{
    display: flex;
}
.sideOuter{
    display: flex;
}

.nav-header-menu .nav-header-mainMenu-container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
.nav-header-menu .nav-header-mainMenu-container ul{
    width: 100%;
}
.nav-header-menu .nav-header-mainMenu-container li{
    width: 130px;
}

.nav-header-mainMenu-container-cateLi{
    display: none;
}

.nav-header-menu .nav-header-mainMenu-container a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    opacity: 1;
    letter-spacing: 1px;
}

.nav-header-mainMenu-container-firstLi a{
    display: block;
    padding-left: 15px;
}
.fa-bars{
    display: none;
}
.nav-header-menu .nav-header-mainMenu-container a:hover{
    font-weight: bold;
}

/*-----------------ICON選單-----------------*/

.nav-header-menu .nav-header-actionMenu-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 440px;
}
.nav-header-menu .nav-header-actionMenu-container li{
    margin-right: 15px;

}

.nav-header-menu .nav-header-actionMenu-container a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    opacity: 0.4;
}

.nav-header-menu .nav-header-actionMenu-container a:hover{
    opacity: 1;
}



/*-----------------footer-----------------*/
footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: white;
}

footer .footer-grid{
    max-width: 1440px;
    margin: 0 auto;
}

footer .footer-grid .footer-grid-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding: 60px 0 80px 0;
    justify-content: center;
}

/*-----------------footer故事-----------------*/


footer .footer-grid-menu .footer-grid-menu-information{
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
footer .footer-grid-menu .footer-grid-menu-information img{
    height: 18px;
    /* padding: 20px 10px 0; */
    vertical-align: middle;
}

footer .footer-grid-menu .footer-grid-menu-information h1{
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
}

footer .footer-grid-menu .footer-grid-menu-information p{
    line-height: 20px;
    letter-spacing: 1px;
}

/*-----------------footer關於我們-----------------*/

.footer-grid-menu-container{
    padding-left: 130px;
}

.footer-grid-menu-container li{
    line-height: 30px;
}

.footer-grid-menu-container  li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-grid-menu-container  li a:hover{
    font-weight: bold;
}


/*-----------------footer聯絡方式-----------------*/

.footer-grid-menu-contact{
    padding-left: 80px;
}

.footer-grid-menu-contact h1:first-child{
    line-height: 30px;
    font-weight: bold;
    font-size: 16px;
}

.footer-grid-menu-contact h1{
    line-height: 30px;
    font-weight: 300;
    font-size: 14px;
}

.footer-grid-menu-contact h2{
    line-height: 26px;
    font-size: 14px;
    
}

/*-----------------footerICON-----------------*/
footer .footer-grid-menu .footer-grid-menu-icon{
    padding-left: 80px;
}
footer .footer-grid-menu .footer-grid-menu-icon .footer-grid-menu-icon-container{
    display: flex;
}
footer .footer-grid-menu .footer-grid-menu-icon li{
    padding: 0 10px;
}
footer .footer-grid-menu .footer-grid-menu-icon a{
    color: white;
    font-size: 20px;
}

footer .footer-grid-menu .footer-grid-menu-icon a:hover{
    color: white;
    font-size: 22px;
}

/*-----------------footerunderLine-----------------*/
footer .footer-grid-underLine{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 15px;
}



@media screen and (max-width: 415px) {
    /*-----------------header-----------------*/
    .nav{
        background-color: rgb(0, 0, 0);
        max-width: 414px;
        width: 100%;
        height: 55px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
    }

    .sideInner{
        z-index: 7;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .nav .nav-wrapper{
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        height: 55px;
        justify-content: space-between;
    }
    

    .nav-header-logo{
        height: 40px;
        max-width: 91px;
    }

    .nav-header-logo img{
        height: 40px;
        padding: 8px 0px 10px 20px ;
        
    }
    .nav-header-bars{
        max-width: 20px;
        align-items: center;
        padding-right:20px;
        padding-top: 20px;
        
    }

    .nav-header-bars a{
        color: white;
        display: block;
    }

    /*-----------------主選單-----------------*/
    .nav-header-menu{
        display: none;
        flex-direction: column;
        position: fixed;
        max-width: 414px;
        width: 100%;
    }
    .sideOuter{
        background-color: white;
        z-index: 10;
        position: fixed;
        box-sizing: border-box;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 280px;
        animation: fadein 1s ease;
    }
    
    @keyframes fadein {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    .fa-bars{
            display: block;
    }

    .nav-header-menu .nav-header-mainMenu-container{
        display: flex;
        flex-direction: column;
    }
    .nav-header-menu .nav-header-mainMenu-container > li{
        width: 100%;
        margin-right: 0px;
        text-align: center;
        border-bottom:0.5px solid black ;
        font-weight: 500;
    }

    .nav-header-mainMenu-container .nav-header-mainMenu-container-firstLi{
        display: none;
    }

    .nav-header-mainMenu-container-cateLi{
        display: block;
    }

    .nav-header-mainMenu-container-cateUl{
        border-top: 0.5px solid black;
        border-bottom: 0px;
        display: none;
    }
    .nav-header-mainMenu-container-cateUl li {
        text-align: center;
        width: 100%;
        
    }
    .nav-header-mainMenu-container-cateUl li:nth-child(1) ul{
        border-bottom: 0.5px solid black;
    }
  
    .nav-header-mainMenu-container-cateUl li ul li{
        border-bottom: 0.5px solid black;
        font-weight: 400;
        opacity: 0.6;
    }
    .nav-header-menu .nav-header-mainMenu-container .nav-header-mainMenu-container-cateUl li ul li a{
        display: block;
        font-size: 12px;
    }

    .nav-header-mainMenu-container-cateUl li:first-child ul li:nth-child(3){
        border-bottom:0px solid black ;
    }
    .nav-header-mainMenu-container-cateUl li:last-child ul li:nth-child(3){
        border-bottom:0px solid black ;
    }
    .nav-header-mainMenu-container-cateLi i{
        margin-left: 10px;
    }
    .brand{
        border: 0px;
    }
    .nav-header-menu .nav-header-mainMenu-container a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: white;
        opacity: 1;
        letter-spacing: 1px;
        color: black;
        font-size: 14px;
        padding: 12px 24px;
    }

    .nav-header-menu .nav-header-mainMenu-container a:hover{
        font-weight: bold;
    }


    /*-----------------ICON選單-----------------*/

    .nav-header-menu .nav-header-actionMenu-container {
        margin-top: 0px;
        display: flex;
        margin: 0px;
        flex-direction: column;
    }
    .nav-header-menu .nav-header-actionMenu-container li{
        margin-right: 0px;
        text-align: center;
        border-bottom:0.5px solid black ;
    }

    .nav-header-menu .nav-header-actionMenu-container a{
        display: block;
        text-decoration: none;
        color: black;
        font-size: 14px;
        padding: 12px 24px;
        opacity: 1;
    }


    .nav-header-menu .nav-header-actionMenu-container a:after{
        content: attr(title);
        margin-left: 10px;
      }
    .nav-header-menu .nav-header-actionMenu-container a:hover{
        opacity: 1;
    }

   
    /*-----------------footer-----------------*/

    footer{
        background-color: rgb(0, 0, 0);
        max-width: 414px;
        width: 100%;
        color: white;
    }
    
    footer .footer-grid{
        max-width: 414px;
        margin: 0 auto;
    }

    footer .footer-grid .footer-grid-menu{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0px;
        justify-content: center;
    }

/*-----------------footer故事-----------------*/
footer .footer-grid-menu .footer-grid-menu-information{
    padding-top: 10px;
    height: 100%;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    margin: 0 auto;
}
.footer-grid-menu-information-img{
    margin-bottom: 5px;
}
footer .footer-grid-menu .footer-grid-menu-information{
    margin-bottom: 20px;
}
footer .footer-grid-menu .footer-grid-menu-information img{
    height: 18px;
    vertical-align: middle;
}

footer .footer-grid-menu .footer-grid-menu-information h1{
    line-height: 0px;
    display: inline-block;
    vertical-align:auto;
    letter-spacing: 1px;
}

footer .footer-grid-menu .footer-grid-menu-information p{
    line-height: 20px;
    letter-spacing: 1px;
}

/*-----------------footer關於我們-----------------*/

.footer-grid-menu-container{
    display: none;
}

/*-----------------footer聯絡方式-----------------*/

.footer-grid-menu-contact{
    display: none;
}
/*-----------------footerICON-----------------*/
footer .footer-grid-menu .footer-grid-menu-icon{
    padding-left: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}
footer .footer-grid-menu .footer-grid-menu-icon .footer-grid-menu-icon-container{
    display: flex;
}
footer .footer-grid-menu .footer-grid-menu-icon li{
    padding: 0 10px;
}
footer .footer-grid-menu .footer-grid-menu-icon a{
    color: white;
    font-size: 20px;
}

footer .footer-grid-menu .footer-grid-menu-icon a:hover{
    color: white;
    font-size: 22px;
}

/*-----------------footerunderLine-----------------*/
    footer .footer-grid-underLine{
        max-width: 300px;
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
        margin: 0 auto;
        line-height: 1.4;
    }
}


