/*-----------------productCategories breadcrumb-----------------*/
main .main-productCategories-breadcrumb{
    margin: 0 auto;
    width: 100%;
    background-color: #D9D9D9;
    height: auto;
}

main .main-productCategories-breadcrumb .main-productCategories-breadcrumb-link{
    width: 1440px;
    margin: 0 auto;
    padding-left: 60px;
}


main .main-productCategories-breadcrumb .main-productCategories-breadcrumb-link a{
    text-decoration: none;
    line-height: 2;
    font-size: 14px;
    font-weight: bold;
    color: black;
}


/*-----------------productCategories-----------------*/

main section{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

main section .main-productCategories-section{
    margin-top: 20px;
    padding: 16px;
}

main section .main-productCategories-section h1{
    font-size: 24px;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

main section .main-productCategories-section-subMenu{
    display: none;
    overflow: hidden;
    padding-left: 20px;
}

main section .main-productCategories-section .main-productCategories-section-mainMenu a{
    text-decoration: none;
    line-height: 2;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

main section .main-productCategories-section .main-productCategories-section-mainMenu i{
    color: black;
    margin-left: 50px;
}

main section .main-productCategories-section .main-productCategories-section-mainMenu a:hover {
    color: #9E472D;
}
main section .main-productCategories-section .main-productCategories-section-mainMenu :hover i{
    color: #9E472D;
}



/*-----------------best seller-----------------*/
main .banner-bestSeller{
    width: 1200px;
}

main .banner-bestSeller h2{
    text-align: center;
    font-size: 32px;
    color: black;
    margin: 20px auto 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

main .banner-bestSeller-select{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
main .banner-bestSeller-select ul{
    width: 250px;
}

main .banner-bestSeller-select a{
    padding-left: 15px;
}
main .banner-bestSeller-select ul > li{
    font-size: 20px;
    line-height: 2;
}
main .banner-bestSeller-li {
    border: 2px solid #D9D9D9;
}
main .banner-bestSeller-select ul li:last-child ul li{
    border: 1px solid #D9D9D9;
}
main .banner-bestSeller-select ul li:last-child ul li{
    border-top: 0px;
}
main .banner-bestSeller-li i{
    margin-left: 110px;
}

main .banner-bestSeller-li a{
    font-weight: 600;
}

main .banner-bestSeller-select ul li ul{
    display: none;
}

main .banner-product-bestSeller{
    display: flex;
    flex-flow: row wrap;
    padding: 2px;
    flex: 3;
    overflow: hidden;
}


main .banner-product-bestSeller li{
    max-width: 300px;
    padding: 10px;
    margin: 38px;
}


main .banner-product-bestSeller a{
    text-decoration: none;
}

main .banner-product-bestSeller img{
    width: 100%;
    display: block;
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

main .banner-product-bestSeller-one{
    position: relative;
}


main .banner-product-bestSeller-one:hover{
    box-shadow: 1px 1px 30px 4px rgb(153 149 149 / 32%);
}
main .banner-product-bestSeller-one:hover img{
    opacity: 0.4;
    background-color: black;
}

main .banner-product-bestSeller-one:hover .banner-product-bestSeller-middle{
    opacity: 1;
}

main .banner-product-bestSeller-middle{
    margin-bottom: 10px;
}

main .banner-product-bestSeller-middle a{
    background-color: black;
    color: white;
    font-size: 16px;
    width: 200px;
    line-height: 4;
    display: block;
}

main .banner-product-bestSeller-middle a i{
    padding-right: 30px; 
}

main .banner-product-bestSeller-middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

main .banner-product-bestSeller p{

    padding: 0px 15px 15px;
    font-size: 16px;
    line-height: 26px;
    color: black;
    text-align: center;
}

main .banner-product-bestSeller br + p{
    color: #9E472D;
}


main .main-productCategories-number ul{
    display: flex;
    justify-content: center;
}

main .main-productCategories-number ul li{
    margin: 20px;
    border: 1.5px solid #9E472D;
    
}
main .main-productCategories-number ul li a{
    display: block;
    padding: 8px;
    text-decoration: none;
}
main .main-productCategories-number ul li i{
    color: #9E472D;
    display: block;
}

main .main-productCategories-number ul li:hover{
    background-color: #9E472D;
}
main .main-productCategories-number ul li:hover i{
    color: white;
}

@media screen and (max-width: 415px) {
    /*-----------------productCategories breadcrumb-----------------*/
    main .main-productCategories-breadcrumb{
        margin: 55px auto 0;
        width: 100%;
        max-width: 414px;
        background-color: #D9D9D9;
        height: auto;
    }
    
    main .main-productCategories-breadcrumb .main-productCategories-breadcrumb-link{
        width: 370px;
        margin: 0 auto;
        padding-left: 0px;
    }
    
    
    main .main-productCategories-breadcrumb .main-productCategories-breadcrumb-link a{
        text-decoration: none;
        line-height: 2;
        font-size: 10px;
        font-weight: bold;
        color: black;
    }


/*-----------------productCategories-----------------*/
main section{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

main section .main-productCategories-section{
    display: none;
    margin-top: 0px;
    padding: 0px;
}
/*-----------------best seller-----------------*/
main .banner-bestSeller{
    /* display: none; */
    width: 100%;
    max-width: 414px;
}

main .banner-bestSeller h2{
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 0px auto 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

main .banner-bestSeller-select{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-top: 20px;
}
main .banner-bestSeller-select ul{
    width: 150px;
}

main .banner-bestSeller-select a{
    padding-left: 5px;
}
main .banner-bestSeller-select ul > li{
    font-size: 12px;
    line-height: 2;
}
main .banner-bestSeller-li {
    border: 2px solid #D9D9D9;
}
main .banner-bestSeller-select ul li:last-child ul li{
    border: 1px solid #D9D9D9;
}
main .banner-bestSeller-select ul li:last-child ul li{
    border-top: 0px;
}
main .banner-bestSeller-li i{
    margin-left: 65px;
}

main .banner-bestSeller-li a{
    font-weight: 600;
}

main .banner-bestSeller-select ul li ul{
    display: none;
}

main .banner-product-bestSeller{
    display: flex;
    max-width: 380px;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px;
    overflow: hidden;
}


main .banner-product-bestSeller li{
    max-width: 180px;
    padding: 0px;
    margin: 10px 0px;
}


main .banner-product-bestSeller a{
    text-decoration: none;
}

main .banner-product-bestSeller img{
    width: 100%;
    max-width: 180px;
    display: block;
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

main .banner-product-bestSeller-one{
    position: relative;
}


main .banner-product-bestSeller-one:hover{
    box-shadow: 0px 0px 0px rgba(31, 31, 31, 0.8);
}

main .banner-product-bestSeller-one:hover img{
    opacity: 1;
    background-color: black;
}

main .banner-product-bestSeller-one:hover .banner-product-bestSeller-middle{
    opacity: 1;
}

main .banner-product-bestSeller-middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(15%, -10%);
    -ms-transform: translate(-0%, -0%);
    text-align: center;
}

main .banner-product-bestSeller-middle a{
    background-color: rgb(114, 114, 114);
    border-radius: 3px;
    color: white;
    font-size: 10px;
    width: 130px;
    line-height: 3;
}
main .banner-product-bestSeller-middle a i{
    padding-right: 5px; 
}

main .banner-product-bestSeller-middle{
    transition: .5s ease;
    opacity: 1;
    position: static;
}

main .banner-product-bestSeller p{
    padding: 4px;
    font-size: 12px;
    line-height: 20px;
    color: black;
    text-align: center;
}

main .banner-product-bestSeller br + p{
    color: #9E472D;
    margin-bottom: 10px;
    
}



main .main-productCategories-number ul{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

main .main-productCategories-number ul li{
    margin: 10px;
    border: 1.5px solid #9E472D;
    
}
main .main-productCategories-number ul li a{
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 8px;
}
main .main-productCategories-number ul li i{
    color: #9E472D;
    display: block;
}

main .main-productCategories-number ul li:hover{
    background-color: #9E472D;
}
main .main-productCategories-number ul li:hover i{
    color: white;
}
}
