/*-----------------productCategories breadcrumb-----------------*/
main .main-productCategories-breadcrumb{
    margin: 0 auto;
    width: 100%;
    background-color: #D9D9D9;
    height: auto;
}

main .main-productCategories-breadcrumb .main-productCategories-breadcrumb-link{
    width: 1440px;
    margin: 0 auto;
    padding-left: 60px;
}


main .main-productCategories-breadcrumb .main-productCategories-breadcrumb-link a{
    text-decoration: none;
    line-height: 2;
    font-size: 14px;
    font-weight: bold;
    color: black;
}


/*-----------------productCategories-----------------*/

main section{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

main section .main-productCategories-section{
    margin-top: 20px;
    padding: 16px;
}

main section .main-productCategories-section h1{
    font-size: 24px;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

main section .main-productCategories-section-subＭenu{
    display: none;
    overflow: hidden;
    padding-left: 20px;
}

main section .main-productCategories-section .main-productCategories-section-mainＭenu a{
    text-decoration: none;
    line-height: 2;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 20px;
    margin-bottom: 20px;
    
}

main section .main-productCategories-section .main-productCategories-section-mainＭenu i{
    color: black;
    padding-top: 10px;
    padding-left: 40px;
}

main section .main-productCategories-section .main-productCategories-section-mainＭenu a:hover {
    color: #9E472D;
}
main section .main-productCategories-section .main-productCategories-section-mainＭenu :hover i{
    color: #9E472D;
}



/*-----------------best seller-----------------*/
main .banner-bestSeller{
    width: 1200px;
}

main .banner-bestSeller h2{
    text-align: center;
    font-size: 32px;
    color: black;
    margin: 20px auto 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

main .banner-bestSeller-select{
    display: flex;
    justify-content: flex-end;
    padding-right: 48px;
}

main .banner-product-bestSeller{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2px;
    flex: 3;
    overflow: hidden;
}


main .banner-product-bestSeller li{
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    max-width: 300px;
    padding: 5px;
    margin: 30px;
}


main .banner-product-bestSeller a{
    text-decoration: none;
}

main .banner-product-bestSeller img{
    width: 100%;
    display: block;
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

main .banner-product-bestSeller-one{
    position: relative;
}
main .banner-product-bestSeller-one:hover{
    box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.8);
}

main .banner-product-bestSeller-one:hover img{
    opacity: 0.4;
    background-color: black;
}

main .banner-product-bestSeller-one:hover .banner-product-bestSeller-middle{
    opacity: 1;
}

main .banner-product-bestSeller-middle{
    margin-bottom: 10px;
}

main .banner-product-bestSeller-middle a{
    background-color: black;
    color: white;
    font-size: 16px;
    width: 200px;
    line-height: 4;
    display: block;
}

main .banner-product-bestSeller-middle a i{
    padding-right: 30px; 
}

main .banner-product-bestSeller-middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

main .banner-product-bestSeller p{

    padding: 0px 15px 15px;
    font-size: 16px;
    line-height: 26px;
    color: black;
    text-align: center;
}

main .banner-product-bestSeller br + p{
    color: #9E472D;
}

main .banner-bestSeller .banner-bestSeller-ReadMore{
    display: block;
    margin: 70px auto 0;
    text-align: center;
    text-decoration: none;
    background-color: #9E472D;
    line-height: 3;
    width: 490px;
    color: white;
    letter-spacing: 1.5px;
    font-weight: bold;
}

main .banner-bestSeller .banner-bestSeller-ReadMore:hover{
    -webkit-box-shadow: 0 0 15px black;
	-moz-box-shadow: 0 0 15px black;
	box-shadow: 0 0 15px black;
}

main .main-productCategories-number ul{
    display: flex;
    justify-content: center;
}

main .main-productCategories-number ul li{
    margin: 20px;
    border: 1.5px solid #9E472D;
    padding: 8px;
}

main .main-productCategories-number ul li i{
    color: #9E472D;
}

main .main-productCategories-number ul li:hover{
    background-color: #9E472D;
}
main .main-productCategories-number ul li:hover i{
    color: white;
}
